@tailwind base;
@tailwind components;
@tailwind utilities;



  /* width */
.sb::-webkit-scrollbar {
    width: 5px;
    height: 8px;
 }
  
  /* Track */
.sb::-webkit-scrollbar-track {
    background: #E1EBF0;
}
  
  /* Handle */
.sb::-webkit-scrollbar-thumb {
    background: #2C8EFF;
    border-radius: 10px;
    height: 5px;
}
  
/* Handle on hover */
.sb::-webkit-scrollbar-thumb:hover {
    background: #0077cc;
}
  